#titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  text-align: center;
}
.informacionheader {
  background: linear-gradient(rgba(252, 252, 252, 0.7),rgba(252,252,252,0.7));
  border-radius: 50px;
  padding-bottom: 6px;
}
li {
  position: relative;
  left: 200px;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

nav {
  text-align:end;


}

.desc {
  text-align: center;
  font-family: arial;
  font-size: 30px;
  color: black;


  
}

h2 {
  text-align: center;
  font-family: arial;
  font-size: 35px;
}

img {
  position: relative;
  left: 200px;
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
  margin: 20px;
  border-radius: 20px;

}

#mascota {
  position: relative;
  left: 200px
}

.descperrogato {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.gpfamilia {
  text-align: center;
  font-size: 35px;
  font-family: arial;
}

.imagengatosperros {
  position: relative;
  left: 300px;
  border-radius: 20px;
}

#descgatosperros {
  position: relative;
  left: 870px;
  bottom: 400px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

main {
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
  margin: 30px;
  border-radius: 20px;
  padding: 20px;
}

body {
 background-image: url(../Imagenes/Fondo_mascotas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
}

.boton {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #343a40;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  position: relative;
  left: 200px;
  bottom: 50px;
}

.boton:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}

.boton:after {
  opacity: 1;
  right: 10px;
}

.boton:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}


.boton_volver {
  min-width: 130px;
  height: 50px;
  width: 200px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.boton_volver:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}

.boton_volver:after {
  opacity: 1;
  right: 10px;
}

.boton_volver:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.gatosperroimagenes{
  border-radius: 20px;
  margin: 20px;
}

.frase{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}