#titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-align: center;
    border: 20px;
    border-color: black;
    border-style:outset;
    padding: 30px;
    margin:10px;
    border-radius: 60px;
  }
li{
    position: relative;
    left:200px;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color :indigo;
}
nav{
    text-align: end;
}

#desc{
    text-align: center;
    font-family: arial;
    font-size: 26px;
}

h2{
    text-align: center;
    font-family: arial;
    font-size: 35px;
}

img{
    position: relative;
    left: 200px;

}

#mascota{
    position:relative;
    left:200px
}

#descperrogato{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.gpfamilia{
      text-align: center;
      font-size:35px;
      font-family: arial;
}

#imagengatosperros{
    position:relative;
    left:300px;
}

#descgatosperros{
  position:relative;
  left: 820px;
  bottom: 350px;
  font-family:Arial, Helvetica, sans-serif ;
  font-size:30px;
}

main{
    border: 20px;
    border-color: black;
    border-style:ridge;
    padding: 30px;
    margin:10px;
    border-radius: 20px;
}

body{
    background-image: url("../Imagenes/Fondo_mascotas_1.jpg");
}


.css-button-3d--blue {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #3d348b;
    box-shadow: 0 5px #2c0b8e;
  }
  .css-button-3d--blue:hover {
    box-shadow: 0 3px #2c0b8e;
    top: 1px;
  }
  .css-button-3d--blue:active {
    box-shadow: 0 0 #2c0b8e;
    top: 5px;
  }